@import url('https://fonts.cdnfonts.com/css/chosence');

@font-face {
  font-family: 'HorizonRegular'; /* Nome da fonte para refer�ncia no CSS */
  src: url('/fonts/HorizonRegular.otf') format('opentype'); /* Caminho e formato da fonte */
  font-weight: normal; /* Peso padr�o da fonte */
  font-style: normal; /* Estilo padr�o da fonte */
}

.horizon {
  font-family: HorizonRegular, sans-serif;
}

#navbar {
  background: #f6f6f6;
}
#menuNavbar a {
  color: white;
}
#menu_login a{
  color: white; 
}
#hero {
  width: 100%;
}

#footer {
  background: linear-gradient(90deg, rgba(18, 84, 223, 1) 0%, rgba(91, 135, 227, 1) 35%, rgba(146, 181, 255, 1) 100%);
  width: 100%;
}

/* Image Size */
.img256 {
  height: 256px;
  width: 256px;
}

.img128 {
  height: 128px;
  width: 128px;
}

.img64 {
  height: 64px;
  width: 64px;
}

.img32 {
  height: 32px;
  width: 32px;
}